header {
  background-color: black;
  height: 50px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  header .container {
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  header .container {
    width: 100%;
    padding-right: 60px;
  }
}
@media (max-width: 576px) {
  header .container .logo {
    font-size: 10px;
  }
}
header .container .content_header {
  display: flex;
  align-items: center;
}
header .container .content_header .cart_icon {
  padding: 0 10px;
}
@media (max-width: 576px) {
  header .container .content_header .cart_icon img {
    font-size: 10px;
    width: 100%;
  }
}
header .container .content_header .cart_icon span {
  color: white;
  font-size: 22px;
  font-weight: 300;
}
@media (max-width: 576px) {
  header .container .content_header .cart_icon span {
    display: none;
  }
}
header .container .content_header a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 0 22px;
  font-weight: 300;
  line-height: 50px;
}
@media (max-width: 576px) {
  header .container .content_header a {
    font-size: 10px;
    padding: 0 12px;
  }
}

.menu {
  position: relative;
  margin-top: 10px;
}
.menu .container ul {
  display: inline-block;
  padding: 0;
}
.menu .container ul li {
  list-style: none;
}
.menu .container ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .menu .container ul li a {
    font-size: 15px;
    padding-left: 10px;
  }
}
.menu .container ul .active {
  font-weight: 400;
}

.carousel {
  background-image: url("/imgs/bg_carousel.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
  min-height: 500px;
}
.carousel .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .carousel .container .product_carousel {
    width: 200px;
    margin-left: 30px;
  }
}
@media (max-width: 576px) {
  .carousel .container .product_carousel {
    width: 120px;
    margin-left: 20px;
  }
}
.carousel .container .product_carousel img {
  width: 100%;
  padding-right: 35px;
}
@media (max-width: 576px) {
  .carousel .container .product_carousel img {
    width: 100%;
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  .carousel .container .product_carousel img {
    width: 100%;
  }
}
.carousel .container .content_carousel {
  padding-right: 30px;
  min-width: 300px;
}
@media (max-width: 576px) {
  .carousel .container .content_carousel {
    min-width: 130px !important;
    padding-right: 0px !important;
  }
}
@media (max-width: 768px) {
  .carousel .container .content_carousel {
    min-width: 200px;
    padding-right: 90px;
  }
}
.carousel .container .content_carousel h2 {
  font-size: 40px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
@media (max-width: 576px) {
  .carousel .container .content_carousel h2 {
    font-size: 18px !important;
  }
}
@media (max-width: 768px) {
  .carousel .container .content_carousel h2 {
    font-size: 22px;
  }
}
.carousel .container .content_carousel p {
  font-size: 20px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
@media (max-width: 576px) {
  .carousel .container .content_carousel p {
    font-size: 16px !important;
  }
}
.carousel .container .content_carousel button {
  outline: none;
  background-color: rgb(248, 182, 83);
  color: rgb(255, 255, 255);
  padding: 13px 35px;
  font-size: 20px;
  font-weight: 300;
  border-color: transparent;
}
@media (max-width: 576px) {
  .carousel .container .content_carousel button {
    padding: 5px 16px !important;
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  .carousel .container .content_carousel button {
    padding: 8px 25px;
  }
}
@media (max-width: 768px) {
  .carousel .container .img_pholygin2 {
    margin-right: 90px;
  }
}
@media (max-width: 576px) {
  .carousel .container .img_pholygin2 {
    margin-right: 0px !important;
  }
}

.product .container .title h1 {
  text-align: center;
  margin: 45px 0 90px 0;
}
.product .container .row {
  display: flex;
  flex-wrap: wrap;
}
.product .container .row .col {
  margin-bottom: 47px;
}
.product .container .row .col .card {
  width: 334px;
  height: 400px;
  border: none;
  background-color: #F8F8F8;
}
@media (max-width: 576px) {
  .product .container .row .col .card {
    margin-left: 15px !important;
  }
}
@media (max-width: 768px) {
  .product .container .row .col .card {
    margin-left: 165px;
  }
}
.product .container .row .col .card img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
}
.product .container .row .col .card h3 {
  font-size: 24px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  line-height: 29px;
  padding-left: 23px;
}
.product .container .row .col .card p {
  font-size: 20px;
  font-weight: 300;
  color: rgb(203, 201, 201);
  padding-left: 23px;
}
.product .container .row .col .card a {
  text-decoration: none;
  outline: none;
  background-color: rgb(248, 182, 83);
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 200;
  border-color: transparent;
  text-align: center;
  width: 167px;
  height: 70px;
  line-height: 70px;
}
.product .container .row .col .card a:hover {
  box-shadow: 2px 7px 15px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 7px 15px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 15px -2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.product .container .row .col .card span {
  font-size: 24px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: inline;
  text-align: center;
  width: 167px;
  height: 70px;
  line-height: 70px;
  position: relative;
  background-color: rgb(222, 221, 220);
  right: -50%;
  bottom: 17.5%;
}

.footer {
  margin-top: 100px;
}
.footer img {
  width: 100%;
}