<!doctype html>
<html lang="en">

<head>
    <title>Detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- font google -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/detail.min.css">
</head>

<body>
    
  <header>
    <div class="container">
      <div class="logo">
        <a href="../index.html"><img src="../imgs/logo.png" alt=""></a>
      </div>
      <div class="content_header">
        <div class="cart_icon">
          <img src="../imgs/image_gio_hang.png" alt="">
          <span>(1)</span>
        </div>
        <a href="#" class="login">Login</a>
        <a href="../views/register.html" class="register">Register</a>
      </div>
    </div>
  </header>

    <section class="menu">
      <div class="container">
        <ul>
          <li>
            <a href="../index.html" class="home active">Home</a>

          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="men">Men</a>
            
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="woman">Woman</a>           
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="kid">Kid</a>       
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="sport">Sport</a>
            
          </li>
        </ul>
          <div class="active"></div>
      </div>
  </section>
    <section class="detail">
        <div class="container" id="detail"></div>
    </section>
    <section class="product">
        <div class="container">
          <div class="title">
            <h1>-Realate Product -</h1>
          </div>
          <div class="row" id="products"></div>
        </div>
      </section>
    <section class="footer">
        <div class="footer_content">
            <img src="../imgs/footer.png" alt="">
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../models/detail.js"></script>
</body>

</html>